# /etc/systemd/system/emby-frontend.service
[Unit]
Description=Emby Frontend Service

[Service]
Type=simple
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/embystream run --config /mnt/stream/config.toml
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target